@use '../variables';

.header {
  margin-top: 30px;
}

.logo {
  display: inline-block;
  text-decoration: none;
}

.logo__image {
  fill: variables.$main-color;
}

.logo__label {
  margin: 5px 0 0;
  color: variables.$main-color;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}
