// Variables

$main-font: 'Montserrat', sans-serif;
$main-color: #f6a6bf;
$text-color: #242424;
$gray-color: #848484;

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}
