// Variables

$main-font: 'Montserrat', sans-serif;
$main-color: #f6a6bf;
$text-color: #242424;
$gray-color: #545454;
$yellow-color: #fffef1;

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}
