@use 'variables';
@use 'reset';
@use 'fonts';
@use 'blocks/header';
@use 'blocks/main';
@use 'blocks/title';


.html {
  -webkit-font-smoothing: subpixel-antialiased;
}

.body {
  color: variables.$text-color;
  font-family: 'Montserrat', sans-serif;
}
