@use '/src/styles/variables';
@use '/src/styles/reset';
@use '/src/styles/fonts';
@use '/src/styles/components';
@use '/src/styles/blocks/header';
@use '/src/styles/blocks/about/about';
@use '/src/styles/blocks/price/price';
@use '/src/styles/blocks/gallery/gallery';
@use '/src/styles/blocks/terms/terms';
@use '/src/styles/blocks/booking-request/booking-request';
@use '/src/styles/blocks/video-monitoring/video-monitoring';
@use '/src/styles/blocks/info/info';

.html,
.body {
  height: 100vh;
}

.html {
  -webkit-font-smoothing: antialiased;
}

.body {
  margin: 0;
  color: variables.$text-color;
  font-family: variables.$main-font;
  background: url('./../images/header-bg.svg') no-repeat calc(50% + 300px) 10px;
}
