section.about
        .about__wrapper.container
          .paw.about__paw
            a.finger.paw__finger1-link(href="#") Номера<span class="paw__finger1-link--small">и цены</span>
            a.finger.paw__finger2-link(href="#") Заявка<span class="paw__finger2-link--small">на бронирование</span>
            a.finger.paw__finger3-link(href="#") Видео<span class="paw__finger3-link--small">наблюдение</span>
            a.finger.paw__finger4-link(href="#") Оплатить
            a.palm.paw__palm-link(href="#") Всё<br> о нас
          .welcome.about__welcome
            h1.welcome__title Гостиница для кошек<br>с видеонаблюдением
            p.welcome__subtitle Будьте спокойны за вашего питомца, пока вы в отъезде
            p.welcome__text Любовь и забота гарантированы
            form.callback.welcome__callback(action="#")
              label.callback__label-name(for="callbackName") Имя
              input.callback__input-name(id="callbackName" type="text" name="callbackName" placeholder="Имя" required)
              label.callback__label-tel(for="callbackTel") Телефон
              input.callback__input-tel(id="callbackTel" type="tel" name="callbackTel" placeholder="Телефон" required)
              button.callback__send-button.button(type="submit") Отправить заявку
          ul.advantages.about__advantages
            li.advantages__item видеонаблюдение в режиме 24/7 и ежедневный фото/видеоотчет в мессенджеры
            li.advantages__item просторные номера<br>с окнами
            li.advantages__item круглосуточное<br>присутствие котоняни
