section.booking-request.container(id="bookingRequest")
  h2.booking-request__title Заявка на бронирование
  .booking-request__container
    img.booking-request__image(src=require("/src/images/request-bg.svg") alt="Кот лежит на боку и кайфует")
    form.booking-request__form(id="booking" action="" method="GET")
      fieldset.booking-request__fieldset
        .booking-request__input-wrapper
          legend.booking-request__legend Заявка на бронирование
          label.booking-request__label(for="bookingRequestName") Имя
          input.booking-request__input(id="bookingRequestName" name="bookingRequestName" type="text" placeholder="Имя" required)
          label.booking-request__label(for="bookingRequestTel") Телефон
          input.booking-request__input(id="bookingRequestTel" name="bookingRequestTel" type="tel" placeholder="Телефон" required)
          label.booking-request__label(for="bookingRequestPetName") Кличка животного
          input.booking-request__input(id="bookingRequestPetName" name="bookingRequestPetName" type="text" placeholder="Кличка животного" required)
          label.booking-request__label(for="bookingRequestCheckInDate") Дата заезда
          input.booking-request__input(id="bookingRequestCheckInDate" name="bookingRequestCheckInDate" type="text" placeholder="Дата заезда" required)
          label.booking-request__label(for="bookingRequestCheckOutDate") Дата выезда
          input.booking-request__input(id="bookingRequestCheckOutDate" name="bookingRequestCheckOutDate" type="text" placeholder="Дата выезда" required)
          label.booking-request__label(for="bookingRequestRoomType") Тип номера
          select.booking-request__select(id="bookingRequestRoomType" form="booking" name="bookingRequestRoomType" placeholder="Тип номера" required)
            option.booking-request__option(value="" disabled selected hidden) Тип номера
            option.booking-request__option(value="standard") Стандарт
            option.booking-request__option(value="standardPlus") Стандарт+
            option.booking-request__option(value="Luxe") Люкс
        .booking-request__notes-container
          label.booking-request__label(for="bookingRequestNotes") Примечания
          input.booking-request__input.booking-request__notes(id="bookingRequestNotes" name="bookingRequestNotes" placeholder="Примечания" type="text")
        button.booking-request__button.button(type="submit") Забронировать
