section.contacts
  .container
    h2.contacts__title Адрес и контакты
    p.contacts__street г. Санкт-Петербург ул. Ключевая, д.32
    button.contacts__street-to-clipboard Скопировать адрес для навигатора
    <iframe class="contacts__map" title="Гугл карты" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.409829548011!2d30.40963531621224!3d59.97511266611766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469632365be45221%3A0x3871f3ff7c05eef9!2z0JrQu9GO0YfQtdCy0LDRjyDRg9C7LiwgMzIsINCh0LDQvdC60YIt0J_QtdGC0LXRgNCx0YPRgNCzLCAxOTUyMjE!5e0!3m2!1sru!2sru!4v1645017048570!5m2!1sru!2sru" style="border:0;" loading="lazy"></iframe>
    .contacts__path.path
      h3.path__title Как пройти
      ul.path__list
       li.path__item
         img.path__image(src=require("/src/images/loc1.jpg") alt="Слева пятиэтажное здание, фонарь. Справа двухэтажное здание")
         p.path__description Мы находимся в здании многоуровневой парковки со стороны двора
       li.path__item
         img.path__image(src=require("/src/images/loc2.jpg") alt="Пятиэтажное здание крупным планом, стрелка указывает на дверь")
         p.path__description Вход со двора под вывеской "Вход" 5 этаж
       li.path__item
         img.path__image(src=require("/src/images/loc3.jpg") alt="Альтернативный путь через огороды")
         p.path__description Если навигатор привел Вас со стороны бизнес центра к шлагбауму, можно пройти по тропинке направо
