section.fears.container
  h2.fears__title Страхи котовладельца
  span.fears__help Нажмите, чтобы посмотреть
  ul.fears__accordion.accordion
    li.accordion__item
      input.accordion__checkbox.visually-hidden(type="checkbox" id="fears1")
      label.accordion__heading(for="fears1") Вдруг моя кошка почувствует себя плохо, а я на другом конце света и не могу ничего предпринять?
      p.accordion__text При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом). Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим все документы и чеки на оплату услуг ветклиники.
    li.accordion__item
      input.accordion__checkbox.visually-hidden(type="checkbox" id="fears2")
      label.accordion__heading(for="fears2") Мою кошку посадят в номер и забудут о ней!
      p.accordion__text При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом). Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим все документы и чеки на оплату услуг ветклиники.
    li.accordion__item
      input.accordion__checkbox.visually-hidden(type="checkbox" id="fears3")
      label.accordion__heading(for="fears3") Мой котик боится замкнутых пространств!
      p.accordion__text При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом). Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим все документы и чеки на оплату услуг ветклиники.
    li.accordion__item
      input.accordion__checkbox.visually-hidden(type="checkbox" id="fears4")
      label.accordion__heading(for="fears4") Боюсь реакции на присутствие незнакомых котику людей!
      p.accordion__text При малейшем отклонении от нормы поведения или состояния кошки, мы незамедлительно сообщим Вам. С Вашего согласия мы обратимся в ветеринарную клинику и сообщим о результатах осмотра и принятых ветеринаром решений (при необходимости Вы сможете лично переговорить с врачом). Если кошечке понадобится лечение, мы осуществим все необходимые действия. При выезде мы предоставим все документы и чеки на оплату услуг ветклиники.
