footer.footer.container
  span.footer__copyright Copyright © 2021
  ul.footer__list
    li.footer__item
      a.footer__link(href="#price") Номера и цены
    li.footer__item
      a.footer__link(href="#bookingRequest") Заявка на бронирование
    li.footer__item
      a.footer__link(href="#") Оплатить
    li.footer__item
      a.footer__link(href="#monitoring") Видеонаблюдение
    li.footer__item
      a.footer__link(href="#info") Всё о нас
