section.info.container(id="info")
  h2.info__title Все о нас
  p.info__description Ценность нашей гостиницы в том, что вы можете полностью доверить нам заботу и уход за вашим котиком!
  h3.info__subtitle
    | Где и с кем оставить своего котика
    br
    | на время отпуска?
  p.info__text
    | Многие из нас, планируя отпуск, или при необходимости уехать в командировку, или в период приезда гостей с аллергией и по другим причинам, сталкиваются с данным вопросом.
    br
    br
    | В маленьких городах этот вопрос решается благодаря помощи родственников и соседей, которые возьмут котика к себе или станут регулярно его навещать, чтобы покормить и уделить внимание.
    br
    br
    | В большом городе данная задача решается сложнее, т.к. из-за неблизких расстояний возникают неудобства ежедневно навещать Вашего котика. Данная ситуация негативно сказывается на режиме кормления и длительное отсутствие внимания является стрессом для животного.
