section.offer.container
  h2.offer__title Мы предлагаем
  ul.offer__list
    li.offer__item гостиница оснащена приточно-вытяжной вентиляцией, с регулировкой температуры в летний и зимний период
    li.offer__item подготовка номера к заселению нового постояльца (обработка поверхностей дезинфицирующими средствами, кварцевание)
    li.offer__item соблюдение санитарно-гигиенических норм
    li.offer__item видеонаблюдение в режиме 24/7
    li.offer__item круглосуточное присутствие котоняни
    li.offer__item наличие холодильника для хранения влажного корма
    li.offer__item кормление и уход (индивидуальный подход к каждому котику)
    li.offer__item ежедневный фото/видеоотчет на мессенджеры
    li.offer__multi-item
      span.offer__item индивидуальные номера
      ul.offer__sub-list
        li.offer__sub-item 10 номеров более 2 кв. м с окном
        li.offer__sub-item 6 номеров более 2 кв. м без окна
        li.offer__sub-item 1 номер более 3 кв.м с окнами
