section.partnership.container
  .partnership__info-wrapper
    h2.partnership__title Сотрудничество
    p.partnership__subtitle Приглашаем к сотрудничеству
    p.partnership__text Сотрудничество на основе коллаборации: совместные конкурсы, скидочные купоны, кэшбек и тп.
  ul.partnership__list
    li.partnership__item Ветеринарные клиники
    li.partnership__item Зоомагазины
    li.partnership__item Грумеров
    li.partnership__item Туристические фирмы
