include mixins/room-card

section.price.container(id="price")
  .price__header
    h2.price__title Номера и цены
    .price__promo.promo
      p.promo__text Скидка 20% до конца ноября!
      img.promo__image(src=require('/src/images/price-promo-background.svg'))
  .price__rooms
      +room(
        '"СТАНДАРТ"',
        '700',
        '1500*1500*2100',
        '32*32',
        'price-standart@2x.jpg'
        )
      +room(
        '"СТАНДАРТ+"',
        '800',
        '1200*2200*2100',
        '38*32',
        'price-standart-plus@2x.jpg'
        )
      +room(
        '"ЛЮКС"',
        '1000',
        '1200*3700*1500',
        '38*32',
        'price-luxe@2x.jpg'
        )

