section.terms.container
  h2.terms__title Условия размещения
  .terms-item
    .terms-item__container
      h3.terms-item__title В стоимость проживания включено
    .terms-item__content
      ul.terms-item__list
        li.terms-item__item наполнитель на выбор
        li.terms-item__item ежедневные игры и внимание
        li.terms-item__item ежедневный фото/видеоотчет
        li.terms-item__item лоток
        li.terms-item__item мисочки для корма и воды
  .terms-item
    .terms-item__container
      h3.terms-item__title Рекомендации
      p.terms-item__description Чтобы ускорить период адаптации котика к новым условиям возьмите с собой
    .terms-item__content
      ul.terms-item__list
        li.terms-item__item лежанку
        li.terms-item__item любимую игрушку
        li.terms-item__item вещь с Вашим запахом
        li.terms-item__item немного наполнителя с его запахом
  .terms-item
    .terms-item__container
      h3.terms-item__title Питание
    .terms-item__content
      p.terms-item__text Корм необходимо принести с собой из расчета периода нахождения котика в нашей гостинице, согласно индивидуальному плану кормления.
      p.terms-item__text В случае, если корм закончится, по согласованию с Вами, мы купим корм. При выселении необходимо будет доплатить, согласно чеку за покупку.
  .terms-item.terms-item-important
    .terms-item__container
      h3.terms-item__title.terms-item__title ВАЖНО!
      ul.terms-item__list
        li.terms-item__item Мы ежедневно наблюдаем за поведением и самочувствием Вашего котика!
        li.terms-item__item В случае любого отклонения от нормы, мы свяжемся с Вами!
        li.terms-item__item При необходимости и с Вашего согласия обратимся в ветеринарную клинику.
        li.terms-item__item При выселении необходимо будет доплатить за понесенные расходы, согласно чеку на оказание услуг.
    .terms-item__content
      img.terms-item__image(src=require('/src/images/important-cat.svg') alt="Векторный кот с громкоговорителем")
