@use '/src/styles/variables';

// Paw

.paw {
  position: relative;
  width: 381px;
  height: 379px;
  font-family: variables.$main-font;
  background: url('/src/images/paw.svg') no-repeat;
  background-size: contain;

  @media (max-width: 560px) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: 1024px) {
    &::after {
      content: 'Любовь и забота гарантированы';
      position: absolute;
      bottom: -130px;
      left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200px;
      height: 200px;
      color: #ffffff;
      font-size: 14px;
      text-align: center;
      background: url('/src/images/sticker.svg') no-repeat center;
      border-radius: 50%;
      transform: rotateZ(-11deg);
    }
  }
}

// Fingers and palm

.finger,
.palm {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
}

// Fingers only

.finger {
  width: 106px;
  height: 134px;
  font-size: 20px;
  line-height: 1.4;
  border-radius: 50%;

  @media (max-width: 560px) {
    width: 83px;
    height: 104px;
    font-size: 16px;
  }
}

// Palm only

.palm {
  width: 180px;
  height: 186px;
  font-size: 40px;
  border-radius: 100% 100% 50% 50%;

  @media (max-width: 560px) {
    width: 150px;
    height: 140px;
    font-size: 31px;
  }
}

.paw__palm-link {
  top: 172px;
  left: 118px;
  transform: rotateZ(347deg);

  @media (max-width: 560px) {
    top: 142px;
    left: 89px;
  }
}

// Fingers and palm position

.paw__finger1-link {
  top: 136px;
  left: 0;
  transform: rotateZ(335deg);

  &--small {
    font-size: 0.9em;
  }

  @media (max-width: 560px) {
    top: 108px;
  }
}

.paw__finger2-link {
  top: 21px;
  left: 63px;
  transform: rotateZ(348deg);

  &--small {
    font-size: 0.5em;
  }

  @media (max-width: 560px) {
    top: 17px;
    left: 49px;
  }
}

.paw__finger3-link {
  top: 0;
  left: 179px;
  transform: rotateZ(358deg);

  &--small {
    font-size: 0.6em;
  }

  @media (max-width: 560px) {
    left: 141px;
  }
}

.paw__finger4-link {
  top: 86px;
  left: 273px;
  transform: rotateZ(10deg);

  @media (max-width: 560px) {
    top: 68px;
    left: 215px;
  }
}
