doctype html
html.html(lang='ru')
  include pug/head
  body.body
    include pug/header
    main.main
      include pug/about
      include pug/price
      include pug/gallery
      include pug/terms
      include pug/booking-request
      include pug/video-monitoring
      include pug/info
      include pug/offer
