include pug/mixins/important

doctype html
html.html(lang='ru')
  include pug/head
  body.body
    include pug/header
    main.main
      include pug/about
      include pug/price
      include pug/gallery
      include pug/terms
      include pug/booking-request
      include pug/video-monitoring
      include pug/info
      include pug/offer
      +important('При необходимости медицинского наблюдения за больным котиком или после операции, для его безопасности, рекомендуем выбирать гостиницу при ветеринарной клинике, т.к. гостиница для кошек не является медицинским учреждением, а предоставляет услуги по временному содержанию животных.')
